* {
  margin: 0;
  scroll-padding: 104px;
  scroll-behavior: smooth;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
img {
  width: 100%;
}
/* navbar start */
nav {
  background-color: rgb(44, 62, 80);
  width: 100%;
  position: fixed;
  z-index: 3;
}
.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  height: 104px;
  align-items: center;
  /* padding: 0 100px; */
}
.container {
  max-width: 1320px;
  margin: auto;
  padding: 0 15px;
}
.navbar a {
  color: white;
}
.navbar ul {
  display: flex;
  gap: 40px;
}
.navbar ul li {
  font-weight: bold;
  color: white;
}
.navbar ul li a:hover {
  color: #1abc9c;
}
.navbar h1 {
  letter-spacing: 3px;
  font-weight: bold;
}
.navbtn {
  display: none;
}
/* navbar end */

/* hero section start */
.herodiv {
  width: 100%;
  background-color: #1abc9c;
}
.hero {
  min-height: 930px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.heroimg {
  width: 240px;
  height: 255px;
}
.heroh1 {
  font-size: 3.5rem;
  color: white;
}
.heroicon div {
  border: 1px solid white;
  height: 1px;
  width: 112px;
  margin-top: 20px;
}
.heroicon {
  display: flex;
  color: white;
  gap: 20px;
}
.heroicon i {
  font-size: 48px;
}
.heroparag {
  color: white;
  font-size: 1.5rem;
}

/* hero section end*/

/* portfolio section start  */
.portfolio {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.portfolioh1 {
  margin: 2rem 0;
  font-size: 2rem;
  color: rgb(44, 62, 80);
  letter-spacing: 10px;
}
.portfolioicon {
  display: flex;
}
.portfolioicon div {
  border: 2px solid rgb(44, 62, 80);
  border-radius: 15px;
  height: 1px;
  width: 112px;
  margin-top: 20px;
  margin-right: 10px;
  color: rgb(44, 62, 80);
}
.portfolioicon i {
  font-size: 38px;
  margin-right: 10px;
  color: rgb(44, 62, 80);
}
.cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 50px;
}
.card {
  position: relative;
  width: 30%;
  height: 254px;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 20px;
}
.card img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: none;
}
.card:hover .overlay {
  display: flex;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5rem;

  display: none;
  width: 100%;
  height: 100%;
  background-color: #1abc9ce3;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}
/* transition: all 0.2s ease-in-out;  Hara vermek lazimdir? */
/* portfolio section end */
/* about section start */
.about {
  min-height: 580px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  align-items: center;
}
.abouthead {
  margin-top: 4.3rem;
}
.abouth1 {
  font-size: 2.1rem;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
.abouticon {
  display: flex;
  margin: 20px auto;
  /* margin-top: 20px; */
  /* margin-left: 10px; */
}
.abouticon div {
  /* font-size: 2rem; */
  border: 2px solid white;
  border-radius: 15px;
  height: 1px;
  width: 100px;
  margin-top: 13px;
  /* margin-right: 1px; */
  /* color: rgb(44, 62, 80); */
}
.abouticon i {
  /* margin-right: 12px; */
  font-size: 2rem;
  margin: 0 10px;
  color: white;
}
.about_text_container {
  display: flex;
  color: rgba(255, 255, 255, 0.895);
  flex-wrap: wrap;
  gap: 30px;
  font-weight: 400;
  /* margin: 0; */
  font-size: 1.25rem;

  /* padding: 50px; */
}
.about_text_left {
  width: 370px;
  height: 220px;
  /* padding: 0 20px; */
  /* padding: 0 0 0 100px; */
  text-align: left;
}
.about_text_right {
  width: 370px;
  /* padding: 0 20px; */
  height: 220px;
  /* padding: 0 100px 0 0; */
  /* padding: 0 50px; */
  text-align: left;
}
.aboutbtn {
  display: flex;
  padding: 15px 20px;
  font-size: 1.25rem;
  gap: 10px;
  background-color: #1abc9c;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 10px;
}
.aboutbtn:hover {
  background-color: white;
  color: rgb(44, 62, 80);
}
/* about section end */
/* contact section start */
.contact {
  /* width: 100%; */
  /* margin: 20px auto; */
  /* flex-wrap: wrap; */
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
}
.contact_h1 {
  font-size: 2rem;
  color: rgb(44, 62, 80);
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  /* margin: 20px auto; */
}
.contact_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 20px auto; */
}
.contact_icon div {
  border: 2px solid rgb(44, 62, 80);
  /* height: px; */
  border-radius: 15px;
  height: 1px;
  width: 100px;
  margin-top: 13px;
}
.contact_icon i {
  font-size: 2rem;

  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(44, 62, 80);
}
form {
  border: none;
  /* margin: 20px auto; */
}
form div {
  width: 770px;
  /* background-color: red; */
}
input {
  display: inline-block;
  width: 100%;
  height: 80px;
  border: none;
  border-bottom: 1px solid gray;
  margin: 20px 0;
  font-size: 1rem;
}

textarea {
  font-size: 1rem;
  height: 80px;
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
}
.contact button {
  margin-top: 20px;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  background-color: #1abc9ccf;
  color: white;
}
/* contact section end */
/* footer section start */
.footer_background {
  background-color: rgb(44, 62, 80);
  color: white;
}
.footer {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h3 {
  font-size: 30px;
}
.footer p {
  max-width: 100%;
}
.footerbox {
  margin: 20px auto;
  /* text-align: left; */
  width: 26%;
}

.second_footer_item {
  /* background-color: gray; */
  text-align: center;
  /* width: 33%; */
  display: flex;
  flex-direction: column;
}
.footerboxicon {
  /* max-width: 50%; */
  gap: 50px;
  display: flex;
  align-items: center;

  justify-content: center;
}
.footerboxicon div button {
  /* max-width: 100px; */
  margin-top: 20px;
  font-size: 25px;
  padding: 8px;
  /* gap: 5px; */
  border-radius: 50%;
  border: 1px solid white;
  background-color: rgb(44, 62, 80);
  color: white;
}

/* footer section end */

@media only screen and (max-width: 1200px) {
  .card {
    width: 40%;
  }
}
@media only screen and (max-width: 990px) {
  .navbar ul {
    display: none;
  }
  .navbtn {
    display: flex;
    border: none;
    padding: 13px;
    background-color: #1abc9c;
    border-radius: 10px;
    gap: 7px;
    color: white;
  }
  .footer {
    flex-direction: column;
    gap: 20px;
  }
}
@media only screen and (max-width: 860px) {
  .hero {
    min-height: 830px;
  }
  .heroh1 {
    font-size: 2.5rem;
  }
  .heroimg {
    width: 180px;
    height: 195px;
  }
  .heroicon i {
    font-size: 30px;
  }
  .heroicon div {
    margin-top: 15px;

    width: 85px;
  }
  .heroicon {
    gap: 15px;
  }
  .heroparag {
    font-size: 1rem;
  }
  .card {
    width: 60%;
  }
  .portfolioh1 {
    margin-left: 10px;
  }
  .portfolioicon div {
    width: 100px;
    margin-top: 12px;
  }
  .portfolioicon {
    margin-left: 0px;
  }
  .portfolioicon i {
    font-size: 30px;
    margin-right: 10px;
  }
  .about_text_container {
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    gap: 0;
  }
  form div {
    max-width: 600px;
  }
}
@media only screen and (max-width: 660px) {
  .hero {
    min-height: 730px;
  }
  .heroh1 {
    font-size: 1.5rem;
  }
  .heroimg {
    width: 160px;
    height: 175px;
  }
  .heroicon i {
    font-size: 23px;
  }
  .heroicon div {
    margin-top: 10px;

    width: 74px;
  }
  .heroicon {
    gap: 10px;
  }
  .heroparag {
    font-size: 0.9rem;
  }
  .card {
    width: 80%;
  }
  form div {
    max-width: 400px;
  }
  input {
    width: 80%;
  }
  textarea {
    width: 80%;
  }
  form div {
    max-width: 500px;
  }
}

@media only screen and (max-width: 400px) {
  .heroh1 {
    font-size: 1rem;
  }

  .heroicon i {
    font-size: 20px;
  }
  .heroicon div {
    margin-top: 10px;

    width: 64px;
  }
  .heroparag {
    font-size: 0.7rem;
    font-weight: bolder;
  }
  .card {
    width: 90%;
    height: 150px;
  }
  .portfolioh1 {
    font-size: 1rem;
  }
  .portfolioicon div {
    width: 70px;
    margin-top: 7px;
  }
  .portfolioicon i {
    font-size: 20px;
  }
  .abouth1 {
    font-size: 1.5rem;
  }
  .abouticon div {
    width: 70px;
    margin-top: 8px;
  }
  .abouticon i {
    font-size: 1.5rem;
    /* margin-right: 12px; */
    margin: 0 10px;
    color: white;
  }
  .about_text_container {
    font-size: 1rem;
    gap: 0;
  }
  .about_text_left {
    height: 180px;
    width: 300px;
  }
  .about_text_right {
    height: 150px;
    width: 300px;
  }
  .aboutbtn {
    padding: 10px 15px;
    font-size: 1rem;
    gap: 10px;
    letter-spacing: 1px;
  }
  form div {
    max-width: 200px;
  }
  input {
    width: 80%;
  }
  textarea {
    max-width: 80%;
  }
}
